version: '3.8'
services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: marquez
      POSTGRES_USER: marquez
      POSTGRES_PASSWORD: marquez
    ports:
      - "5432:5432"

  marquez:
    image: marquezproject/marquez:latest
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/marquez
      - SPRING_DATASOURCE_USERNAME=marquez
      - SPRING_DATASOURCE_PASSWORD=marquez
    ports:
      - "5000:5000"
    depends_on:
      - postgres
